.log,.reg {
    position: relative !important; 
    top: 0.5em !important;
    cursor: pointer !important;
    border: 0 !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
    margin: 0 10px !important;
    width: 200px !important;
    padding: 10px 0 !important;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2) !important;
    transition: 0.4s !important;
  }
  
  .reg {
    color: white !important;
    background-color: rgba(104, 85, 224, 1) !important;
  }
  
  .log {
    color: rgb(104, 85, 224) !important;
    background-color: rgba(255, 255, 255, 1) !important;
    border: 1px solid rgba(104, 85, 224, 1) !important;
  }
  
  .log:hover {
    color: white !important;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6) !important;
    background-color: rgba(104, 85, 224, 1) !important;
  }
  
  .reg:hover{
      color: rgba(104, 85, 224, 1) !important;
    background-color: white !important;
  }